# Требуется аутентификация
AuthType Basic  
AuthName "Private zone. Only for valid users!"
AuthUserFile  "C:/Program Files/Apache Group/Apache/htdocs/AJAX/demo/module6/base_auth/.htpasswd"
require valid-user

# Закроем доступ к файлу паролей
<Files .htpasswd>
   deny from all
</Files>


